extends layout

block pageTitle
    .jumbotron
        h1 ABC Member Portal



block pageContent
    .container-fluid
        .wrapper
            .form-signin
                label
                h2 Member Sign-In
                input#name(type='text', name='name', placeholder='Please Input Name')
                br
                input#password(type='password', name='password', placeholder='Password')
                p
                label
                input#submit(type='submit', name='submit', value='Submit')

    script(type='text/javascript').
        $(function() {

            $("#submit").click(function () {

                var user = $("#name").val();
                var pass = $("#password").val();

                $.post("http://localhost:1337/login", {user: user, password: pass}, function (data) {
                    if (data === 'done') {
                        alert("login success");
                    }
                });
            });
        });